# BACKEND
BACKEND_PORT=5000
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
JWT_SECRET_KEY=your_secret_key

#FRONT:
FRONTEND_PORT=5001

# Secreto para firmar tokens (Cámbialo si vas a producción)
JWT_SECRET=HqU635WjeYZn7nS2oRUGqFvPW3djAb0OizXiS0zP

# Llave ANON (Para uso en el cliente/frontend con RLS)
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc0MzIxMjAwLCJleHAiOjE5MzIwODc2MDB9._8ATuWV3HDpACMVYfI18TTmPUwwtwgUSy6c76tpkYFw

# Llave SERVICE ROLE (⚠️ NUNCA exponer en el cliente, salta RLS)
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NzQzMjEyMDAsImV4cCI6MTkzMjA4NzYwMH0.afpA1LRyEEjLpNL0tFiP4qOPm6Gij-5530uCffUC5wo
GLOBAL_S3_BUCKET=local

# DB (Supabase in docker-compose)
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=postgres
SUPABASE_DB_NAME=postgres
SUPABASE_DB_PORT=54322
URL_DB=postgresql+psycopg://${SUPABASE_DB_USER}:${SUPABASE_DB_PASSWORD}@db:5432/${SUPABASE_DB_NAME}

# GLOBAL
URL_BACKEND=http://back-dev:${BACKEND_PORT}
URL_FRONTEND=http://localhost:${FRONTEND_PORT}
URL_REDIS=redis://redis:6379/0