# BACKEND
BACKEND_PORT=5000
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
JWT_SECRET_KEY=your_secret_key

#FRONT:
FRONTEND_PORT=5001

# DB (Supabase in docker-compose)
PSQL_DB_USER=postgres
PSQL_DB_PASSWORD=postgres
PSQL_DB_NAME=postgres
PSQL_DB_PORT=5432
URL_DB=postgresql+psycopg://${PSQL_DB_USER}:${PSQL_DB_PASSWORD}@db:5432/${PSQL_DB_NAME}

# GLOBAL
URL_BACKEND=http://back-dev:${BACKEND_PORT}
URL_FRONTEND=http://localhost:${FRONTEND_PORT}
URL_REDIS=redis://redis:6379/0